<!-- Navbar-->
<section class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid d-flex justify-content-around" id="menu">
      <a class="navbar-brand col-4 d-flex justify-content-around" href="#">LeFouineur</a>

      <div class="collapse navbar-collapse col-8 d-flex justify-content-around ms-7" id="navbarSupportedContent">
        <form class="d-flex">
          <input class="form-control" id="search-input" type="search" placeholder="Rechercher" aria-label="Search"
                 (keyup)="emit(keyword.value);" #keyword>
        </form>
      </div>
    </div>
  </nav>
  <hr>
  <div class="justify-content-around row mt-4">
    <div class="col-3">
      <p class="nav-info"><i class="bi bi-hand-index-thumb-fill"></i>  Sélectionner un produit</p>
    </div>
    <div class="col-3">
      <p class="nav-info"><i class="bi bi-hand-index-thumb-fill"></i>  Analyser le produit</p>
    </div>
    <div class="col-3">
      <p class="nav-info"><i class="bi bi-hand-index-thumb-fill"></i>  Acheter le produit</p>
    </div>
  </div>
</section>
<!-- Navbar -->
