.container-grille {
  /*height: calc(100vh - 38px);*/
  background-color: var(--bg-color);
  height: auto;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
}

.nav-bar {
  grid-column: span 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*@media screen and (max-width: 775px) {*/

/*  .container-grille {*/
/*    grid-template-columns: 1fr 1fr;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 1050px) {*/

/*  .container-grille {*/
/*    grid-template-columns: 60% 40%;*/
/*  }*/
/*}*/

