/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'material-icons/iconfont/material-icons.css';

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


/*:root {*/
/*  --bg-color: #F0F2F5;*/
/*  --icon-star: gold;*/
/*  --bleu-ps: #3be3f6;*/
/*  --border-color: #3a3a3a;*/
/*  --graph-bg: #ffffff;*/
/*}*/

:root {
  --bg-color: #F0F2F5;
  --icon-star: gold;
  --bleu-ps: #3be3f6;
  --border-color: #3a3a3a;
  --border-color2: #B4B5B9;
  --text-color: #FFFBEB;
  --graph-bg: #ffffff;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

